body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1D1E20;
}

body * {
    font-family: "inter", "arial", sans-serif;
}

.hero {
    display: flex;
    margin: 0 auto;
    color: #FFFFFF;

}

* a {
    color: #FFFFFF;
    font-style: normal;
    text-decoration: none;
}

a:hover {
    color: #02AB72;
}

* ::selection {
    color: #1D1E20;
    background: #02AB72;
}

.hero__left {
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    padding-top: 130px;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    flex-direction: column;

}

.username {
    font-size: 42px;
    max-width: 360px;
    font-weight: 900;
    line-height: 59px;
    font-style: normal;
    font-family: "inter", "arial", sans-serif;
}

address a {
    display: block;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 22px;
    font-family: "inter", "arial", sans-serif;
}

.phone::before {
    left: 14%;
    content: "";
    width: 20px;
    height: 20px;
    display: flex;
    position: absolute;
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(./img/phone.png);
}

.email::before {
    left: 14%;
    content: "";
    width: 25px;
    height: 20px;
    display: flex;
    position: absolute;
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(./img/email.png);
}

.telegram::before {
    content: "";
    left: 14%;
    width: 25px;
    height: 20px;
    display: flex;
    position: absolute;
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(./img/telegram.png);
}



/*  */

.hero__right {
    margin: 0 auto;
}

.hero__title {
    margin: 0;
    font-size: 30px;
    margin-top: 50px;
    line-height: 35px;
    font-weight: bold;
    font-style: normal;
    font-family: "inter", "arial", sans-serif;
}

.hero__dfn {
    margin: 0;
    font-size: 18px;
    max-width: 773px;
    margin-top: 50px;
    color: #717274;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto", "arial", sans-serif;
}

.dive {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    justify-content: space-between;
}

hr {
    height: 0px;
    width: 542px;
    opacity: 0.2;
    margin-top: 45px;
    border: 2px solid #02AB72;
}

.hero__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hero__item {
    display: flex;
    flex-direction: column;
}

.icon {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dived {
    display: flex;
    margin-top: 40px;
    max-height: 140px;
    align-items: center;
    justify-content: space-between;
}

.hero__qr {
    display: block;
    margin-left: auto;
}


// Responsive for mobile
@media only screen and (max-width: 767px) {
    .hero {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        max-width: 378px;
        align-items: center;
        flex-direction: column;
    }

    .hero__left {
        display: flex;
        max-width: 378px;

    }


    .hero__list {
        margin-top: 20px;
        margin-right: auto;
    }

    .hero__right {
        padding: 0;
        margin: 0 auto;
        max-width: 378px;
        align-items: center;

    }

    .dived {
        margin: 0;
        padding: 0;
        display: flex;
        margin-top: 50px;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    .hero__qr {
        margin: 100%  auto ;
        margin-bottom: 100%;

    }
}